<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="{{url_for('static', filename = 'logo.jpg')}}" height="50"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="fas fa-home"></i> Home <span class="sr-only"></span></a>
      </li>
      {% if session.admin %}
      <a class="nav-link" href="/users"><i class="fas fa-user"></i> Users <span class="sr-only"></span></a>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if session.logged_in %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('profile',username=session.username)}}"><i class="fa fa-address-book"></i>
          Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard"><i class="far fa-calendar-alt"></i> Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Register</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>