{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Book Slot</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method = 'POST' action="">
      <div class = "form-group">
        {{render_field(form.EqField, class_="form-control", id='editor')}}
      </div>  
        <div class = "form-group">
          {{render_field(form.SuperviserName, class_="form-control", id='editor')}}
        </div>
      <div class = "form-group">
        {{render_field(form.SuperviserEmail, class_="form-control", id='editor')}}
      </div>
      <p>
        <input type = 'submit' class = "btn btn-primary" value = "Submit">
      </p>
    </form>
  </div>
{% endblock %}
