{% extends 'layout.html' %}

{% block title %} Dashboard {% endblock %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Facilities/Equipment at C4DFED @ IIT Mandi</h1>
  <p class="lead">Click on the required Equipment/Services to go to booking page.</p>
</div>
<hr>
<table class = 'table table-striped'>
  <tr>
    <th>ID</th>
    <th>EQUIPMENT NAME</th>
    <th>COMPANY</th>
    <th>MODEL</th>
    <th>PURPOSE</th>
  </tr>
  {% for Eq in Equipments %}
  <tr>
    <td>{{Eq.id}}</td>
    <td><a href="/book_slot/{{Eq.id}}"><img src="{{url_for('static', filename = "eq"+Eq.id|string+".jpg")}}" height="100" width="20%"> {{Eq.Name}}</a></td>
    <td>{{Eq.Company}}</td>
    <td>{{Eq.Model}}</td>
    <td>{{Eq.Purpose}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

