{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Facilities/Equipment at C4DFED @ IIT Mandi</h1>
  <p class="lead">Click on the required services to go to booking page.</p>
</div>
<hr>
<table class = 'table table-striped'>
  <tr>
    <th>ID</th>
    <th>EQUIPMENT NAME</th>
    <th>COMPANY</th>
    <th>MODEL</th>
    <th>PURPOSE</th>
  </tr>
  {% for Eq in Equipments %}
  <tr>
    <td scope="row"><a href="/book_slot/{{Eq.id}}" >{{Eq.id}}</a></td>
    <td scope="row"><a href="/book_slot/{{Eq.id}}" >{{Eq.Name}}</a></td>
    <td scope="row"><a href="/book_slot/{{Eq.id}}" >{{Eq.Company}}</a></td>
    <td scope="row"><a href="/book_slot/{{Eq.id}}" >{{Eq.Model}}</a></td>
    <td scope="row"><a href="/book_slot/{{Eq.id}}" >{{Eq.Purpose}}</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

