{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Welcome to C4DFED @ IIT Mandi</h1>
  <p class="lead">Register and Login to know more about the facilities.</p>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;
margin: auto;
padding-bottom: 10%;
}
</style>

<div class="w3-content w3-display-container">
  <img class="mySlides" src="static/img1.jpg" style="width:80%">
  <img class="mySlides" src="static/img2.jpg" style="width:80%">
  <img class="mySlides" src="static/img3.jpg" style="width:80%">
  <img class="mySlides" src="static/img4.jpg" style="width:80%">
  <img class="mySlides" src="static/img5.jpg" style="width:80%">

  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>

{% endblock %}
