{% extends 'layout.html' %}

{% block title %} {{user.name}} {% endblock %}

{% block body %}
<h1> User Profile </h1>
<p> Name : {{user.name}} </p> 
<p> Email : {{user.username}} </p>
<p> Account Type : {{user.accountType}} </p>
  <hr>
  <table class = 'table table-striped'>
    <tr>
      <th>EQUIPMENT NAME</th>
      <th>FROM</th>
      <th>TO</th>
      <th>SUPERVISOR NAME</th>
      <th>SUPERVISOR EMAIL</th>
      <th>REQUEST STATUS</th>
      <th>PAYMENT STATUS</th>
    </tr>
    {% for booking in history %}
    <tr>
      <td>{{booking.equipmentName}}</td>
      <td>{{booking.fromDateTime}}</td>
      <td>{{booking.toDateTime}}</td>
      <td>{{booking.SName}}</td>
      <td>{{booking.SEmail}}</td>
      <td>
        {{booking.RequestStatus}}
        {% if booking.RequestStatus=='Rescheduled' %}
          <a href="/confirm_reschedule/{{booking.BookingID}}"><input type='submit' class="btn btn-primary" value="Accept/Reject"></a>
        {% endif %}
      </td>
      {% if booking.Payment == 1 %}
      <td>Paid</td>
      {% else %}
      <td>Unpaid</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}
