{% extends 'layout.html' %}

{% block title %} Requests {% endblock %}

{% block body %}

<style>
  .form-control {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }
</style>

<h1>Update Request Status</h1>
  <hr>
  <table class = 'table table-striped'>
    <tr>
      <th>USER</th>
      <th>EQUIPMENT NAME</th>
      <th>FROM</th>
      <th>TO</th>
      <th>SUPERVISOR NAME</th>
      <th>SUPERVISOR EMAIL</th>
      <th>REQUEST STATUS</th>
    </tr>
    {% for req in requests %}
    <tr>
      <td>{{req.userName}}</td>
      <td>{{req.equipmentName}}</td>
      <td>{{req.fromDateTime}}</td>
      <td>{{req.toDateTime}}</td>
      <td>{{req.SName}}</td>
      <td>{{req.SEmail}}</td>
      <td>
        {% from "includes/_formhelpers.html" import render_field %}
        <form method='POST' action="">
          <div class="form-group">
            {{render_field(form.status, class_="form-control")}}
          </div>
          {{ form.bookingID(value=req.BookingID) }}
          <input type = 'submit' class = "btn btn-primary" value = "Update">
        </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
