{% extends 'layout.html' %}

{% block title %} Requests {% endblock %}

{% block body %}

<h1>Update Request Status</h1>
  <hr>
  <table class = 'table table-striped'>
    <tr>
      <th>USER</th>
      <th>EQUIPMENT NAME</th>
      <th>FROM</th>
      <th>TO</th>
      <th>SUPERVISOR NAME</th>
      <th>SUPERVISOR EMAIL</th>
      <th>REQUEST STATUS</th>
      <th>PAYMENT STATUS</th> 
    </tr>
    {% for req in requests %}
    <tr>
      <td>{{req.userName}}</td>
      <td>{{req.equipmentName}}</td>
      <td>{{req.fromDateTime}}</td>
      <td>{{req.toDateTime}}</td>
      <td>{{req.SName}}</td>
      <td>{{req.SEmail}}</td>
      <td><a href="/update_booking/{{req.BookingID}}"><input type = 'submit' class = "btn btn-primary" value = "Update"></a></td>
      {% if req.Payment == 1 %}
      <td><a href="/update_payment/{{req.BookingID}}"><input type = 'submit' class = "btn btn-primary" value = "Paid"></a></td>
      {% else %}
      <td><a href="/update_payment/{{req.BookingID}}"><input type = 'submit'  class = "btn btn-primary" value = "Unpaid"></a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}
