{% extends 'layout.html' %}

{% block title %} Admin {% endblock %}

{% block body %}
<h1> User History </h1>
<p> Name : {{user.name}} </p> 
<p> Email : {{user.username}} </p>
<p> Account Type : {{user.accountType}} </p>
<p> Outstanding Amount(Rs.) : {{amount}} </p>
  <hr>
  <table class = 'table table-striped'>
    <tr>
      <th>EQUIPMENT NAME</th>
      <th>FROM</th>
      <th>TO</th>
      <th>SUPERVISOR NAME</th>
      <th>SUPERVISOR EMAIL</th>
      <th>REQUEST STATUS</th>
      <th>PAYMENT STATUS</th>
    </tr>
    {% for booking in history %}
    <tr>
      <td>{{booking.equipmentName}}</td>
      <td>{{booking.fromDateTime}}</td>
      <td>{{booking.toDateTime}}</td>
      <td>{{booking.SName}}</td>
      <td>{{booking.SEmail}}</td>
      <td>{{booking.RequestStatus}}</td>
      <td>
        {% if booking.Payment == 1 %}
          Already Paid
        {% else %}
          <a href="/update_payment/{{user.UserId}}/{{booking.BookingID}}"><input type = 'submit' class = "btn btn-primary" value = "Mark as Paid"></a>
        {% endif %}
      </td>
      
    </tr>
    {% endfor %}
  </table>
{% endblock %}
